<?xml version="1.0" encoding="utf-8"?>
<service>
  <short>SSM Web</short>
  <description>SSM Web service</description>
  <port port="{{ ssm_install_server_web_https_port }}" protocol="tcp"/>
</service>
